<section class="px-2 md:px-4 lg:px-8 max-w-7xl mx-auto">
  <div class="grid md:grid-cols-2 grid-cols-1 mt-40 gap-10">
    <div class="flex w-full justify-start">
      <div class="md:text-5xl text-4xl text-left text-[#685DC5]">
        <p>{{ scholarship?.name }}</p>
      </div>
      <img src="/Icon.png" alt="interaction_design" class="lg:w-[240px] lg:h-[240px] w-[150px] h-[150px] absolute lg:mt-[-5.3rem] mt-[-4.5rem] md:ml-[12rem] lg:ml-[14.8rem] ml-[11rem] z-[-1] object-cover" />
    </div>
    <div>
      <div class="text-left grid md:grid-cols-2 md:w-[50%]">
        <div class="flex md:flex-col">
          <p class="text-[#7F7F7F] md:text-[18px] mb-2">Powered by:</p>
          <p class="md:text-3xl ml-1 text-[#535353]">Zeptolab</p>
        </div>
        <div class="md:order-first">
          <img src="/Logo.png" alt="zeptolab_logo" class="object-cover w-20 h-20" />
        </div>
      </div>
    </div>
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1 mt-6">
  <div class="text-2xl text-left order-2 md:order-1 mt-10 space-y-6">
      <p class="font-bold text-[#535353]">
        A fully funded work-study program to launch your tech career 
      </p>
      <p class="mt-10 font-light text-[#535353]">
        {{ scholarship?.description?.[0]?.data || '' }}
      </p>
      <div *ngIf="(scholarship?.position || '').length > 0" class="flex mt-10 text-lg">
        <p class="font-bold text-lg">
          Position:
        </p>
        <p class="ml-1">
          {{ scholarship?.position }}
        </p>
      </div>
      <div class="flex mt-12">
        <div class="bg-[#685DC5] rounded-full text-white text-center py-5 px-10">
          Apply Now
        </div>
      </div>
    </div>
    <div class="mt-5 flex flex-col order-1 md:order-2 md:mt-[-1.5rem] ">
      <div class="flex border-2 border-[#DADADA] justify-center rounded-md">
        <div class="px-12 py-6 text-left">
          <p class="text-main text-lg">
           Application closes in
          </p>
          <p class="text-xl mt-3 h-8 overflow-clip">
            {{ scholarship?.application_end_date  }}
          </p>
        </div>
      </div>
      <div class="px-12 py-6 border-2 border-[#DADADA] mt-5 text-center flex flex-col justify-center bg-white rounded-md">
        <div class="grid grid-cols-2 gap-6">
          <img src="/Background.png" alt="background_detail" class="absolute z-[-1] right-0 hidden md:block md:w-[40%]" />

          <div class="text-left">
            <p class="text-main">Location</p>
            <p>{{ scholarship?.location?.name }}</p>
          </div>
          <div class="text-left">
            <p class="text-main">Duration</p>
            <p>{{ scholarship?.duration }}</p>
          </div>
          <div class="text-left">
            <p class="text-main">Start date</p>
            <p>{{ formatDateString(scholarship?.scholarship_start_date || "2020-11-30 00:00:00") }}</p>
          </div>
          <div class="text-left">
            <p class="text-main">End date</p>
            <p>{{ formatDateString(scholarship?.application_end_date || "2020-11-30 00:00:00", true) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
