@import 'tailwindcss';


/* Definir las fuentes */
@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/ApercuPro-Regular.woff2') format('woff2'),
       url('/fonts/ApercuPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/ApercuPro-Medium.woff2') format('woff2'),
       url('/fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('/fonts/ApercuPro-Bold.woff2') format('woff2'),
       url('/fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables CSS para la fuente */
:root {
  --font-family-base: 'Apercu Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Aplicar la fuente globalmente */
html, body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aplicar a todos los elementos */
* {
  font-family: inherit;
}
@layer base {
  html {
    font-family: 'Apercu Pro', system-ui, sans-serif;
  }
}
