<nav class="w-[100vw] fixed top-0 left-0 bg-[#685DC5] px-10 text-white py-4 flex justify-between items-center z-20">
    <div class="flex">
        <p class='flex align-text-top text-[15px] md:text-xl font-medium'>
            HARBOUR SPACE
        </p>
        <p class='flex align-text-top md:text-xs text-[8px]  ml-3 mt-1'>
            /INTERACTION DESIGN
        </p>
    </div>
    <div class="flex">
 
        <div class="bg-[#4fa16c] right-[10%] mt-[-15px] absolute p-8 rounded-full font-medium hidden md:block">
            <p>
                APPLY
            </p>
            NOW
        </div>
        <div class="px-2 py-3 bg-[#523C94] md:bg-transparent">
            <div class="flex flex-col items-center">
                <div class="flex items-center mb-[5px]">

                    <div class="w-2 h-2 mr-0 border-white border-[3px] bg-[#685DC5] absolute"></div>
                    <div class="w-8 h-[3px] bg-white"></div>
                </div>

                <div class="w-8 h-[3px] bg-white mb-[5px]"></div>

                <div class="flex items-center">
                    <div class="w-8 h-[3px] bg-white"></div>

                    <div class="w-2 h-2 border-white border-[3px] bg-[#685DC5] absolute ml-6"></div>
                </div>
            </div>
        </div>
    </div>
</nav>

